{% extends 'base.html.twig' %}

{% block title %}Citania - Mot de passe oublié{% endblock %}

{% block stylesheets %}

{% endblock %}

{% block body %}

    {% include "template/alert.html.twig" %}

    <main>

        <div class="back back--password">
            <h2 class="title">Mot de passe oublié ?</h2>

            <form action="{{ path('app_password_forgot') }}" method="POST">
                <div>
                    <label for="email">Renseignez votre email</label>
                    <input type="email" name="email" id="email">
                </div>
                <button type="submit">Envoyer</button>
            </form>

        </div>
    </main>
{% endblock %}
