{% extends 'base.html.twig' %}

{% block title %}Citania - Conditions générales d'utilisation{% endblock %}

{% block body %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset("assets/css/cgu.css") }}">
{% endblock %}

<div class="back back--legalMentions">

    <h2 class="title">Mentions légales</h2>
 
        <h2>Conditions générales d'utilisation du site Citania</h2>

        <h3>Préambule</h3> <br>

        <p>
            Les présentes conditions générales d'utilisation sont conclues entre :
            - le gérant du site internet, ci-après désigné « l’Éditeur »,
            - toute personne souhaitant accéder au site et à ses services, ci-après appelé « l’utilisateur ».
        </p>
         
        <h3>Article 1 - Principes</h3>

        <p>
            <strong>1.1</strong> <br>
            Les présentes conditions générales d'utilisation ont pour objet l'encadrement juridique de l’utilisation du site Citania et de ses services. <br>
             
            Le site Internet <strong>{{ app.request.scheme ~ '://' ~ app.request.httpHost }}</strong> est un service de : <br>
            · L'entreprise individuelle <strong>joffrey cormont</strong> <br>
            · située à <strong>Lannion, France</strong> <br>
            &nbsp;&nbsp;&nbsp;&nbsp;- immatriculée au RCS de Bretagne <br>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- Siret : 823 416 813<br>
            · adresse URL du site : <strong>{{ app.request.scheme ~ '://' ~ app.request.httpHost }}</strong> <br>
            · e-mail : <strong>contact@joffrey-cormont.fr</strong> <br>
            · numéro de téléphone : <strong>06.87.12.77.03</strong> <br>
            Les conditions générales d'utilisation doivent être acceptées par tout Utilisateur, et son accès au site vaut acceptation de ces conditions.
            <br>
            <br>
            <br>
            <strong>1.2</strong> <br>
            L'hébergeur (ci-après "l'hébergeur") : <br>
            <br>
            Citania est hébergé par OVH, dont le siège socail est situé au 2 rue Kellermann – 59100 Roubaix – France. <br>
            SAS au capital de 10 069 020 € <br>
            RCS Lille Métropole 424 761 419 00045 <br>
            Code APE 2620Z <br>
            N° TVA : FR 22 424 761 419 <br>
            Directeur de la publication : Octave KLABA <br>
            Président : Henryk KLABA <br>
            Directeur général : Miroslaw KLABA <br>
            Directeur général délégué : Octave KLABA <br>
            Directeur général délégué : Halina KLABA <br>
            OVH SAS est une filiale de la société OVH Groupe SAS, société immatriculée au RCS de Lille sous le numéro 537 407 926 sise 2, rue Kellermann, 59100 Roubaix. <br>
        </p>
         
        <h3>Article 2 - Evolution et durée des CGU</h3>

        <p>
            Les présentes conditions générales d'utilisation sont conclues pour une durée indéterminée. Le contrat produit ses effets à l'égard de l'Utilisateur à compter du début de l’utilisation du service. <br>
            Le site Citania se réserve le droit de modifier les clauses de ces conditions générales d’utilisation à tout moment et sans justification.
        </p>
         
        <h3>Article 3 - Accès au site</h3>

        <p>
            Tout Utilisateur ayant accès à internet peut accéder gratuitement et depuis n’importe où au site Citania. Les frais supportés par l’Utilisateur pour y accéder (connexion internet, matériel informatique, etc.) ne sont pas à la charge de l’Éditeur. <br>
            Le site et ses différents services peuvent être interrompus ou suspendus par l’Éditeur, notamment à l’occasion d’une maintenance, sans obligation de préavis ou de justification. <br>
            L'Utilisateur du site a accès aux services suivants : L 'utilisateur est libre d'accès au site suite à son inscription. Il a accès au jeu citania qui est un jeu de simulation de vie sur navigateur (adaptable sur tablette et mobile) et donc à la grande partie de ses fonctionnalités. Le jeu est gratuit cependant il sera possible pour l'utilisateur de faire des achats de "diamants" pour débloquer des choses et avancer plus rapidement dans le jeu. " .. <br>
        </p>
         
        <h3>Article 4  - Responsabilités</h3>

        <p>
            La responsabilité de l'Éditeur ne peut être engagée en cas de défaillance, panne, difficulté ou interruption de fonctionnement, empêchant l'accès au site ou à une de ses fonctionnalités. <br>
            Le matériel de connexion au site utilisée est sous l'entière responsabilité de l'Utilisateur qui doit prendre toutes les mesures appropriées pour protéger le matériel et les données notamment d'attaques virales par Internet. L'utilisateur est par ailleurs le seul responsable des sites et données qu'il consulte. <br> <br>
             
            L'Éditeur ne pourra être tenu responsable en cas de poursuites judiciaires à l'encontre de l'Utilisateur : <br>
            -  du fait de l'usage du site ou de tout service accessible via Internet ; <br>
            -  du fait du non-respect par l'Utilisateur des présentes conditions générales. <br> <br>
             
            L'Éditeur n'est pas responsable des dommages causés à l'Utilisateur, à des tiers et/ou à l'équipement de l'Utilisateur du fait de sa connexion ou de son utilisation du site et l'Utilisateur renonce à toute action contre l'Éditeur de ce fait. <br>
            Si l'Éditeur venait à faire l'objet d'une procédure amiable ou judiciaire à raison de  l'utilisation du site par l'Utilisateur, il pourra retourner contre lui pour obtenir indemnisation de tous les préjudices, sommes, condamnations et frais qui pourraient découler de cette procédure. <br> <br>
             
            Il est permis à l'Utilisateur de publier sur le site Citania : <br>
            - des commentaires ; <br>
            - des textes ; <br>
            - des photos ; <br>
            - des vidéos ; <br>
             L'Utilisateur s’engage à tenir des propos respectueux des autres et de la loi et accepte que ces publications soient modérées ou refusées par l’Éditeur, sans obligation de justification.  <br>
            L'utilisateur s'engage à ne pas utiliser de contenu de texte, d'image, de vidéo ou autre à caractère pornographique ou tout autre contenu pouvant être offenssant/pouvant heurter la sensibilité d'autrui ou atteindre à la sécurité morale ou physique, sous peine de suspendre ou de résilier l'accès de l'utilisateur au site à ses torts exclusifs <br>
            L'utilisateur s'engage, à ne pas publier sur le site ou les plateformes affiliées officiellement au site, des données personnelles sensibles qui peuvent permettre de retrouver une personne, de lui même ou bien des données personnelles d'autrui, de ne pas publier sous peine de suspendre ou de résilier l'accès de l'utilisateur au Site à ses torts exclusifs. 
            <br>
            En publiant sur le site, l’Utilisateur cède à la société éditrice le droit non exclusif et gratuit de représenter, reproduire, adapter, modifier, diffuser et distribuer sa publication, directement ou par un tiers autorisé. <br>
            L’Éditeur s'engage toutefois à citer le membre en cas d’utilisation de  sa publication. <br>
        </p>
         
        <h3>Article 5  - Propriété intellectuelle</h3>

        <p>
            Tous les documents techniques, produits, photographies, textes, logos, dessins, vidéos, etc., sont soumis à des droits d'auteur et sont protégés par le Code de la propriété intellectuelle. Lorsqu'ils sont remis à nos l'utilisateurs, ils demeurent la propriété exclusive de joffrey cormont, seul titulaire des droits de propriété intellectuelle sur ces documents, qui doivent lui être rendus à sa demande. <br>
            Nos l'utilisateurs s'engagent à ne faire aucun usage de ces documents, susceptible de porter atteinte aux droits de propriété industrielle ou intellectuelle du fournisseur et s'engagent à ne les divulguer à aucun tiers, en dehors d'une autorisation expresse et préalable donnée par l'Editeur. <br>
        </p>
         
        <h3>Article 6  - Liens hypertextes</h3>

        <p>
            La mise en place par l'Utilisateur de tous liens hypertextes vers tout ou partie du site est strictement interdite, sauf autorisation préalable et écrite de l'Éditeur, sollicitée par courriel à l'adresse suivante : <strong>contact@joffrey-cormont.fr</strong>. <br>
            L'Éditeur est libre de refuser cette autorisation sans avoir à justifier de quelque manière que ce soit sa décision. Dans le cas où l'Éditeur accorderait son autorisation, celle-ci n'est dans tous les cas que temporaire et pourra être retirée à tout moment, sans obligation de justification à la charge de l'Éditeur. <br>
            Dans tous les cas, tout lien devra être retiré sur simple demande de l'Éditeur. <br>
            Toute information accessible via un lien vers d'autres sites n'est pas sous le contrôle de l'Éditeur qui décline toute responsabilité quant à leur contenu. <br>
        </p>
         
        <h3>Article 7 - Protection des données personnelles</h3>

        <p>
            Données collectées <br>
            Les données à caractère personnel qui sont collectées sur ce site sont les suivantes : <br>
            - ouverture de compte : lors de la création du compte de l'utilisateur :  adresse électronique ;  <br>
            - connexion : lors de la connexion de l'utilisateur au site web, celui-ci enregistre, notamment, ses nom, prénom, données de connexion, d'utilisation, de localisation et ses données relatives au paiement ; <br>
            - profil : l'utilisation des prestations prévues sur le site web permet de renseigner un profil, pouvant comprendre une adresse et un numéro de téléphone ; <br>
            - paiement : dans le cadre du paiement des produits et prestations proposés sur le site web, celui-ci enregistre des données financières relatives au compte bancaire ou à la carte de crédit de l'utilisateur ; <br>
            - communication : lorsque le site web est utilisé pour communiquer avec d'autres membres, les données concernant les communications de l'utilisateur font l'objet d'une  conservation temporaire ; <br>
            - cookies : les cookies sont utilisés, dans le cadre de l'utilisation du site. L'utilisateur a la possibilité de désactiver les cookies à partir des paramètres de son navigateur. <br> <br>
             
            Utilisation des données personnelles <br>
            Les données personnelles collectées auprès des utilisateurs ont pour objectif la mise à disposition des services du site web, leur amélioration et le maintien d'un environnement sécurisé. Plus précisément, les utilisations sont les suivantes : <br>
            -  accès et utilisation du site web par l'utilisateur ; <br>
            -  gestion du fonctionnement et optimisation du site web ; <br>
            -  organisation des conditions d'utilisation des Services de paiement ; <br>
            -  vérification, identification et authentification des données transmises par l'utilisateur ; <br>
            -  proposition à l'utilisateur de la possibilité de communiquer avec d'autres utilisateurs du site web ; <br>
            -  mise en oeuvre d'une assistance utilisateurs ; <br>
            -  personnalisation des services en affichant des publicités en fonction de l'historique de navigation de l'utilisateur, selon ses préférences ; <br>
            -  prévention et détection des fraudes, malwares (malicious softwares ou logiciels malveillants) et gestion des incidents de sécurité ; <br>
            -  gestion des éventuels litiges avec les utilisateurs ; <br>
            -  envoi d'informations commerciales et publicitaires, en fonction des préférences de l'utilisateur. <br> <br>

            Partage des données personnelles avec des tiers <br>
            Les données personnelles peuvent être partagées avec des sociétés tierces, dans les cas suivants : <br>
            -  lorsque l'Utilisateur utilise les services de paiement, pour la mise en oeuvre de ces services, le site web est en relation avec des sociétés bancaires et financières tierces avec lesquelles elle a passé des contrats ; <br>
            -  lorsque l'Utilisateur publie, dans les zones de commentaires libres du site web, des informations accessibles au public ; <br>
            -  lorsque l'Utilisateur autorise le site web d'un tiers à accéder à ses données ; <br>
            -  lorsque le site web recourt aux services de prestataires pour fournir l'assistance utilisateurs, la publicité et les services de paiement. Ces prestataires disposent d'un accès limité aux données de l'utilisateur, dans le cadre de l'exécution de ces prestations, et ont une obligation contractuelle de les utiliser en conformité avec les dispositions de la réglementation applicable en matière protection des données à caractère personnel ; <br>
            -  si la loi l'exige, le site web peut effectuer la transmission de données pour donner suite aux réclamations présentées contre le site web et se conformer aux procédures administratives et judiciaires ; <br>
            -  si le site web est impliquée dans une opération de fusion, acquisition, cession d'actifs ou procédure de redressement judiciaire, elle pourra être amenée à céder ou partager tout ou partie de ses actifs, y compris les données à caractère personnel. Dans ce cas, les utilisateurs seraient informés, avant que les données à caractère personnel ne soient transférées à une tierce partie. <br> <br>

            Sécurité et confidentialité  <br>
            Le site web met en oeuvre des mesures organisationnelles, techniques, logicielles et physiques en matière de sécurité du numérique pour protéger les données personnelles contre les altérations, destructions et accès non autorisés. Toutefois, il est à signaler qu'internet n'est pas un environnement complètement sécurisé et le site web ne peut pas garantir la sécurité de la transmission ou du stockage des informations sur internet. <br> <br>

            Mise en oeuvre des droits des utilisateurs <br>
            En application de la réglementation applicable aux données à caractère personnel, les utilisateurs disposent des droits suivants, qu'ils peuvent exercer en faisant leur demande à l'adresse suivante : contact@joffrey-cormont.fr. <br>
            · le droit d’accès : ils peuvent exercer leur droit d'accès, pour connaître les données personnelles les concernant. Dans ce cas, avant la mise en œuvre de ce droit, le site web peut demander une preuve de l'identité de l'utilisateur afin d'en vérifier l'exactitude. <br>
            · le droit de rectification : si les données à caractère personnel détenues par le site web sont inexactes, ils peuvent demander la mise à jour des informations. <br>
            · le droit de suppression des données : les utilisateurs peuvent demander la suppression de leurs données à caractère personnel, conformément aux lois applicables en matière de protection des données. <br>
            · le droit à la limitation du traitement : les utilisateurs peuvent de demander au site web de limiter le traitement des données personnelles conformément aux hypothèses prévues par le RGPD. <br>
            · le droit de s’opposer au traitement des données : les utilisateurs peuvent s’opposer à ce que ses données soient traitées conformément aux hypothèses prévues par le RGPD.  <br>
            · le droit à la portabilité : ils peuvent réclamer que le site web leur remette les données personnelles qui lui sont fournies pour les transmettre à un nouveau site web. <br>
            Evolution de la présente clause <br>
            Le site web se réserve le droit d'apporter toute modification à la présente clause relative à la protection des données à caractère personnel à tout moment. Si une modification est apportée à la présente clause de protection des données à caractère personnel, le site web s'engage à publier la nouvelle version sur son site. Le site web informera également les utilisateurs de la modification par messagerie électronique, dans un délai minimum de 15 jours avant la date d'effet. Si l'utilisateur n'est pas d'accord avec les termes de la nouvelle rédaction de la clause de protection des données à caractère personnel, il a la possibilité de supprimer son compte. <br>
        </p>
         
        <h3>Article 8  - Cookies</h3>

        <p>
            Le site Citania peut collecter automatiquement des informations standards. Toutes les informations collectées indirectement ne seront utilisées que pour suivre le volume, le type et la configuration du trafic utilisant ce site, pour en développer la conception et l'agencement et à d'autres fins administratives et de planification et plus généralement pour améliorer le service que nous vous offrons. 
        </p>
         
        <h3>Article 9 - Loi applicable</h3>

        <p>
            Les présentes conditions générales d'utilisation sont soumises à l'application du droit français. 
            Si les parties n'arrivent pas à résoudre un litige à l'amiable, le litige sera soumis à la compétence des tribunaux français.
        </p>
         
        <h2>Les conditions de vente</h2>

        <h3>Article 11 – Description des produits disponible à l'achat</h3>

        <p>
            Citania est un jeu de simulation de vie basé sur le modèle "freemium", les produits qui sont vendus en ligne sur le site sont les Diamants(monnaie virtuelle). <br>
             Cette monnaie virtuelle permet aux joueurs d'accéder à des avantages que d'autres joueurs n'ont pas, elle permet d'obtenir des services qui nécéssitent uniquement un paiement en Diamants(ex. Achat de vêtements V.I.P, accès à certains métiers, l'obtention rapide d'un diplôme etc.). <br> Les Diamants sont crédités automatiquement après l'achat de l'utilisateur. Les formules que Citania propose : <br> <br>

            - 25 Diamants - 2.99 € <br>
            - 50 Diamants - 4.99 € <br>
            - 100 Diamants - 9.99 € <br>
            - 150 Diamants - 15.99 € <br>
            - 180 Diamants - 19.99 € <br>
            - 260 Diamants - 29.99 € <br>
            - 520 Diamants - 49.99 € <br>
            - 1500 Diamants - 99.99 € <br><br>

            Les Produits présentés sur le Site font chacun objet d'un descriptif (établi par le fournisseur ou accessible sur le site du fabricant par un lien se trouvant sur le Site) mentionnant leurs caractéristiques essentielles. Les Produits sont conformes aux prescriptions du droit français en vigueur. <br>
            L'utilisateur demeure responsable des modalités et des conséquences de son accès au Site notamment par l’Internet. Cet accès peut impliquer le paiement de frais à des prestataires techniques tels que notamment des fournisseurs d’accès à l’Internet, lesquels demeurent à sa charge. <br>
            En outre, l'utilisateur devra fournir et être entièrement responsable des équipements nécessaires afin de se connecter au Site. l'utilisateur reconnait avoir vérifié que la configuration informatique qu’il utilise est sécurisée et en état de fonctionnement. <br>
        </p>

        <h3>Article 12 – Espace client de l'utilisateur</h3>

        <p>
            Pour passer une commande sur Citania, l'utilisateur doit avoir créé un compte sur citania, il pourra avoir accès à l'historique de ses commandes depuis son espace "mon compte".<br>

        </p>

        <h3>Article 13 – Commandes</h3>

        <p>
        Citania s’efforce de garantir une livraison automatique de ses Produits.<br>
         Si en dépit des meilleurs efforts de Citania, un Produit s’avérerait indisponible postérieurement à la commande de l'utilisateur, Citania en informera l'utilisateur par email, dans les meilleurs délais et l'utilisateur aura le choix entre :<br>
          la livraison du Produit commandé, ou le remboursement du prix du Produit commandé au plus tard dans les deux jours du paiement des sommes déjà versées. Il est convenu qu’en dehors du remboursement du prix du Produit indisponible, si cette option est demandée par l'utilisateur, Citania n'est tenu à aucune indemnité d'annulation, sauf si inexécution du contrat lui est personnellement imputable. A l’exception de toute mention contraire figurant dans ces Conditions Générales et sans préjudice du droit de rétractation prévu par la loi applicable, les commandes de l'utilisateur sont fermes et définitives.<br>
           Au moment de passer une commande, l'utilisateur doit sélectionner les Produits choisis.<br>
            L'utilisateur a la possibilité de vérifier le détail de sa commande et son prix total, et de revenir aux pages précédentes pour éventuellement corriger, avant de le valider. L'utilisateur s’engage à lire les Conditions Générales de Vente alors en vigueur avant de les accepter et de confirmer les modalités et les éventuels frais de livraison et de rétractation préalable au paiement de sa commande. <br>
            La confirmation de la commande entraîne acceptation des CGV et forme le contrat.<br>
             Les informations contractuelles relatives à la commande (dont notamment le n° de la commande) feront objet d'une confirmation par voie d'e-mail en temps utile et au plus tard au moment de la livraison. Citania conseille vivement l'utilisateur d'imprimer et/ou d'archiver sur un support fiable et durable cette confirmation de commande à titre de preuve. Citania conseille également l'utilisateur d'imprimer et/ou d'archiver sur un support fiable et durable cette facture à titre de preuve. <br>
             Tout email qui sera adressé a l'utilisateur dans le cadre d’une commande le sera à l’adresse email que l'utilisateur utilise pour s’identifier sur son compte. Citania se réserve le droit de ne pas valider la commande de l'utilisateur pour tout motif légitime, notamment dans l’hypothèse où :<br>
            L'utilisateur ne respecterait pas les Conditions Générales en vigueur lors de sa commande ;<br>
            L’historique de commandes de l'utilisateur montre que des sommes restent dues au titre de précédentes commandes ;<br>
            L’une des précédentes commandes de l'utilisateur fait l’objet d’un litige en cours de traitement ;<br>
            L'utilisateur n’a pas répondu à une demande de confirmation de sa commande que Citania lui a fait parvenir.<br> <br>

            L'utilisateur commet des actes répréhensibles sur le Site, tels que harcèlements, insultes, provocations, tentatives de piratages ainsi qu'un manque de respect à tout personnel de Citania. Citania archive les contrats de vente de Produits conformément à la législation applicable. <br>
            En formulant une demande à l’adresse suivante contact@joffrey-cormont.fr, Citania remettra a l'utilisateur une copie du contrat objet de la demande. Toute modification de commande par l'utilisateur après confirmation de sa commande est soumise à accord de Citania.<br>
            Les informations communiquées par l'utilisateur lors de la passation de la commande (notamment nom et adresse de livraison) engagent celui-ci. Ainsi, la responsabilité de Citania ne saurait en aucune manière être recherchée dans éventualité où une erreur lors de la passation de la commande empêcherait ou retarderait la livraison/la délivrance. <br>
            L'utilisateur déclare avoir la pleine capacité juridique lui permettant de s'engager au titre des présentes Conditions Générales. L'inscription est ouverte aux majeurs capables et aux mineurs à conditions que ceux-ci interviennent sous la surveillance du parent ou tuteur détenant autorité parentale. En aucun cas, inscription n'est autorisée pour le compte de tiers à moins d'être valablement habilité à la représenter (personne morale par exemple). L'inscription est strictement personnelle à chaque utilisateur. <br>
            En cas de manquement par l'utilisateur à une des dispositions des présentes, l’Citania se réserve le droit de résilier sans préavis le compte dudit utilisateur.
        </p>

        <h3>Article 14 – Modalités de paiement et sécurisation</h3>

        <p>
            L'utilisateur reconnaît expressément que toute commande effectuée sur le Site est une commande avec obligation de paiement, qui nécessite le paiement d’un prix contre la fourniture du Produit commandé.<br>
            En toute hypothèse, Citania se réserve le droit de contrôler la validité du règlement, avant expédition de la commande, par tous les moyens nécessaires. 
            <br>Citania utilise la solution de paiement en ligne Stripe. Les commandes peuvent être payées en ayant recours à l’un des modes de paiement suivants : Paiement par carte bancaire. <br>
            Le paiement s'effectue directement sur les serveurs bancaires sécurisés du partenaire bancaire(Stripe) de Citania, les coordonnées bancaires de l'utilisateur ne transitent pas sur le Site. Les coordonnées bancaires communiquées lors du paiement sont protégées par un procédé de cryptage SSL (Secure Socket Layer). De cette manière, ces coordonnées ne sont pas accessibles à des tiers. <br>
            La commande de l'utilisateur est enregistrée et validée dès acceptation du paiement par la banque. Le compte de l'utilisateur sera débité du montant correspondant uniquement lorsque (i) les données de la carte bancaire utilisée auront été vérifiées et (ii) le débit aura été accepté par la banque ayant émis la carte bancaire. L’impossibilité de débiter les sommes dues entraînera la nullité immédiate de la vente. <br>
            La carte bancaire peut notamment être refusée si elle est arrivée à expiration, si elle a atteint le montant maximal de dépense auquel l'utilisateur a droit ou si les données saisies sont incorrectes.
        </p>

        <h3>Article 15 – Paiement du prix</h3>

        <p>
            Le prix des Produits en vigueur lors de la commande est indiqué en euros toutes taxes comprises (TTC) hors frais de livraison et de transport. <br>
            En cas de promotion, Citania s'engage à appliquer le prix promotionnel à toute commande passée durant la période de la publicité faite pour la promotion. <br>
            Le prix est payable en euros (€) exclusivement. Le prix est exigible en totalité après confirmation de la commande. Les prix proposés comprennent les rabais et ristournes que Citania serait amené à octroyer. <br>
            Si des frais de livraison ou de transport s’appliquent, ils seront ajoutés au prix des Produits et indiqués de manière distincte avant la validation de la commande par l'utilisateur. <br>
            Le montant total dû par l'utilisateur et son détail sont indiqués sur la page de confirmation de commande.
        </p>

        <h3>Article 16 – Formation du contrat</h3>

        <p>
            Le contrat entre Citania et l'utilisateur est formé au moment de envoi par l'utilisateur de la confirmation de sa commande.<br>
             L'attention de l'utilisateur est particulièrement attirée sur le mode d'acceptation de la commande passée sur le Site. <br>
             Lorsque l'utilisateur passe sa commande il doit confirmer celle-ci par la technique du « double-clic », c'est-à-dire qu'après avoir sélectionné des Produits , l'utilisateur doit contrôler et éventuellement corriger le contenu de son panier (identification, quantité de produits sélectionnées, prix, modalités et frais de livraison) avant de le valider en cliquant sur « Payer », puis il reconnaît accepter les présentes CGV avant de cliquer sur le bouton « Payer », enfin il valide sa commande après avoir rempli ses coordonnées bancaires. Le « double clic » vaut signature électronique et équivaut à une signature manuscrite.<br>
            Il constitue une acceptation irrévocable et sans réserve de la commande par l'utilisateur. L'archivage des communications, des bons de commande et des factures est assuré par Citania sur un support fiable et durable de manière à constituer une copie fidèle et durable.<br>
            Ces communications, bons de commande et factures peuvent être produits à titre de preuve du contrat. Sauf preuve contraire, les données enregistrées par Citania sur Internet ou par téléphone constituent la preuve de ensemble des transactions passées entre Citania et ses l'utilisateurs.<br>
            La commande peut être résolue par l'utilisateur par email avec demande d'avis de réception ou par un écrit sur un autre support durable en cas :<br>
            de livraison d'un Produit non conforme aux caractéristiques déclarées du Produit ;<br>
            de livraison dépassant la date limite fixée dans le bon de commande ou, à défaut d'une telle date, dans les deux jours suivant la conclusion du contrat, après que Citania ait été enjoint, selon les mêmes modalités et sans résultat, d'effectuer la livraison dans un délai supplémentaire raisonnable ;<br>
            de hausse du prix qui n'est pas justifiée par une modification technique du produit imposée par les pouvoirs publics. Dans tous ces cas, l'utilisateur peut exiger le remboursement de acompte versé majoré des intérêts calculés au taux légal à partir de la date d'encaissement de acompte. La commande peut être résolue par Citania en cas : de comportement interdit sur le site.<br><br>
        </p>

        <h3>Article 17 – Réserve de propriété</h3>

        <p>
            Citania reste propriétaire exclusif des Produits commandés sur le Site jusqu’à encaissement de l’intégralité du prix.
        </p>

        <h3>Article 18 – Expédition et livraison</h3>

        <p>
            Les offres de vente en ligne présentées sur le site sont réservées aux consommateurs résidant en France ou, le cas échéant, dans un pays membre de Union européenne ou d'autres pays tels que le Canada, les pays d'Afrique ou bien les pays du golfes persiques.<br>
             La livraison s'entend du transfert a l'utilisateur de la possession virtuelle ou du contrôle du Produit. <br>
             Citania s'engage, conformément à la date limite de livraison indiquée sur le Site pour chacun des Produits, à livrer les Produits immédiatement après réception de commande. <br>
            Citania s’engage à expédier les Produits conformément aux délais annoncés sur chaque fiche Produit et au niveau du panier, sous réserve que le paiement de la commande n’ait pas été préalablement refusé. Cependant, si un ou plusieurs Produits ne pouvaient être livrés dans le délai initialement annoncé, Citania adressera un email indiquant a l'utilisateur la nouvelle date de livraison.<br>
            Les Produits seront livrés sur le compte utilisateur de l'utilisateur.<br>
            Aucune livraison ne sera effectuée à une boîte postale. A la livraison, il appartient a l'utilisateur de vérifier que les Produits livrés sont conformes à sa commande. <br>
            Si ce n’est pas le cas, l'utilisateur doit impérativement l’indiquer par mail à exploitant. Aucune réclamation sur la quantité du Produit ne sera admise si la réclamation n’a pas été portée par email.<br>

        </p>

        <h3>Article 19 – Droit de rétractation</h3>

        <p>
            Si un Produit livré ne donne pas entière satisfaction a l'utilisateur, ce dernier pourra le retourner à Citania. l'utilisateur disposera de sept (7) jours pour le faire à compter de la date de réception de la commande.<br>
            Conformément à l’article L.221-21 du Code de la consommation et afin de mettre en œuvre ce droit de rétractation dans les conditions des articles L. 221-18 et suivants du Code de la consommation, l'utilisateur est invité à remplir le formulaire type de rétractation en cliquant sur le lien ci-après contact@joffrey-cormont.fr.<br>
            Citania adressera un accusé de réception de la demande de rétractation de l'utilisateur par e-mail. 
            <br>Citania remboursera a l'utilisateur le montant du Produit dans un délai de deux (2) jours à compter de la réception du Produit et de l’ensemble des éléments permettant de mettre en œuvre le remboursement de l'utilisateur. Ce remboursement pourra être effectué par le même moyen de paiement que celui employé pour l'utilisateur. <br>En acceptant les présentes Conditions Générales de Vente, l'utilisateur reconnaît expressément avoir été informé des modalités de rétractation.
        </p>

        <h3>Article 20 – Service utilisateur</h3>

        <p>
            L'utilisateur peut contacter Citania : par email en vous adressant à contact@joffrey-cormont.fr en indiquant son nom de joueur, adresse email, l’objet de sa demande et le numéro de la commande concernée.
        </p>

        <h3>Article 21 – Responsabilité et garantie</h3>

        <p>
        Citania ne saurait être tenu pour responsable de inexécution du contrat du fait de l'utilisateur ou en raison d'un événement qualifié de force majeure par les tribunaux compétents ou encore du fait imprévisible et insurmontable de tout tiers aux présentes.<br>
        Citania ne peut être tenu pour responsable des informations importées, stockées et/ou publiées sur le Site par les l'utilisateurs. Citania ne peut être tenu pour responsable au titre de toute information publiée par un l'utilisateur sur le Site et des dommages directs ou indirects que cette utilisation pourrait causer à un tiers, l'utilisateur à origine de la publication restant seul responsable à ce titre.<br>
        L'utilisateur reconnaît que les caractéristiques et les contraintes d'Internet ne permettent pas de garantir la sécurité, la disponibilité et intégrité des transmissions de données sur Internet. 
        <br>Ainsi, Citania ne garantit pas que le Site et ses services fonctionneront sans interruption ni erreur de fonctionnement. En particulier, leur exploitation pourra être momentanément interrompue pour cause de maintenance, de mises à jour ou d'améliorations techniques, ou pour en faire évoluer le contenu et/ou leur présentation.<br><br>

        Citania ne peut être tenu pour responsable de utilisation qui serait faite du Site et de ses services par les l'utilisateurs en violation des présentes Conditions Générales et des dommages directs ou indirects que cette utilisation pourrait causer à un l'utilisateur ou à un tiers. En particulier, Citania ne peut être tenu pour responsable des fausses déclarations faites par un l'utilisateur et de son comportement vis-à-vis des tiers. Dans le cas où la responsabilité de Citania serait recherchée à raison d'un tel comportement d’un de ses l'utilisateurs, ce dernier s'engage à garantir Citania contre toute condamnation prononcée à son encontre ainsi qu’à rembourser Citania de l’ensemble des frais, notamment les honoraires d’avocats, engagés pour sa défense.<br><br>

        l'utilisateur est seul responsable de intégralité des contenus qu'il met en ligne sur Citania, dont il déclare expressément disposer de intégralité des droits, et garantit à ce titre Citania qu'il ne met pas en ligne de contenus violant des droits tiers, notamment de propriété intellectuelle, ou constituant une atteinte aux personnes (notamment diffamation, injures, provocations, acharnement, harcèlement, menaces, tentatives de piratages, usurpation d'identité, harcèlement sexueul etc.), au respect de la vie privée, une atteinte à ordre public et aux bonnes mœurs (notamment, apologie des crimes contre humanité, incitation à la haine raciale, divulgations d'images pornographiques, pornographie enfantine, etc.).<br><br>

        En cas d'atteinte aux lois en vigueur, aux bonnes mœurs ou aux présentes Conditions Générales, Citania peut exclure de plein droit les l'utilisateurs qui se seront rendus coupables de telles infractions et supprimer des informations et renvois à ces contenus litigieux. Citania est qualifié d’hébergeur s’agissant du contenu mis en ligne par des tiers. A ce titre, il est rappelé que Citania n’a aucune obligation générale de surveillance du contenu transmis ou stocké via le Site. Dans le cas où la responsabilité de Citania serait recherchée à raison d'un contenu mis en ligne par l'utilisateur, ce dernier s'engage à garantir Citania contre toute condamnation prononcée à son encontre ainsi qu’à rembourser Citania de l’ensemble des frais, notamment les honoraires d’avocats, engagés pour sa défense.<br>

        Reproduction des articles L. 217-4, L. 217-5, L. 217-7, L. 217-9 et L. 217-12 du Code de la consommation, de article 1641, 1644 et du premier alinéa de article 1648 du Code civil, tels qu’en vigueur à la date des présentes Conditions Générales : Art. L.217-4 du code de la consommation : « Le vendeur livre un bien conforme au contrat et répond des défauts de conformité existant lors de la délivrance. Il répond également des défauts de conformité résultant de emballage, des instructions de montage ou de installation lorsque celle-ci a été mise à sa charge par le contrat ou a été réalisée sous sa responsabilité. »<br>
        Art. L.217-5 du code de la consommation : « Le bien est conforme au contrat : 1° S'il est propre à usage habituellement attendu d'un bien semblable et, le cas échéant : - s'il correspond à la description donnée par le vendeur et possède les qualités que celui-ci a présentées à acheteur sous forme d'échantillon ou de modèle ; - s'il présente les qualités qu'un acheteur peut légitimement attendre eu égard aux déclarations publiques faites par le vendeur, par le producteur ou par son représentant, notamment dans la publicité ou étiquetage ; 2° Ou s'il présente les caractéristiques définies d'un commun accord par les parties ou est propre à tout usage spécial recherché par acheteur, porté à la connaissance du vendeur et que ce dernier a accepté. »<br><br>

        Art. L.217-7 du code de la consommation : « Les défauts de conformité qui apparaissent dans un délai de vingt-quatre mois à partir de la délivrance du bien sont présumés exister au moment de la délivrance, sauf preuve contraire. Pour les biens vendus d'occasion, ce délai est fixé à six mois. Le vendeur peut combattre cette présomption si celle-ci n'est pas compatible avec la nature du bien ou le défaut de conformité invoqué. » Art. L.217-9 du code de la consommation : « En cas de défaut de conformité, acheteur choisit entre la réparation et le remplacement du bien. Toutefois, le vendeur peut ne pas procéder selon le choix de acheteur si ce choix entraîne un coût manifestement disproportionné au regard de autre modalité, compte tenu de la valeur du bien ou de importance du défaut. Il est alors tenu de procéder, sauf impossibilité, selon la modalité non choisie par acheteur ». Art. L.217-12 du code de la consommation : « L'action résultant du défaut de conformité se prescrit par deux ans à compter de la délivrance du bien. » Art. 1641 du code civil : « Le vendeur est tenu de la garantie à raison des défauts cachés de la chose vendue qui la rendent impropre à usage auquel on la destine, ou qui diminuent tellement cet usage, que acheteur ne aurait pas acquise, ou n'en aurait donné qu'un moindre prix, s'il les avait connus. »
        Art. 1644 du code civil : « Dans le cas des articles 1641 et 1643, acheteur a le choix de rendre la chose et de se faire restituer le prix, ou de garder la chose et de se faire rendre une partie du prix. » Art. 1648 alinéa 1er du code civil : « L'action résultant des vices rédhibitoires doit être intentée par acquéreur dans un délai de deux ans à compter de la découverte du vice. » Il est rappelé que la recherche de solutions amiables préalablement à une éventuelle action en justice n'interrompt pas les délais d'action des garanties légales ni la durée de toute éventuelle garantie contractuelle.<br>
        </p><br>

        <h3>Article 22 – Service après-vente</h3>

        <p>
            Les réclamations faites au titre des garanties doivent être adressées au service après-vente aux coordonnées suivantes : adresse électronique : contact@joffrey-cormont.fr
        </p>

</div>

{% endblock %}
