<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
</head>
<body>
    <img src="{{ image }}" width="300px" alt="">

    <h2 class="title" style="color: white; margin-top: -2em; padding: .5em 1em; border-radius: 20px 20px 0 0; background-color: #8ed077; width: fit-content;">Votre nouveau mot de passe</h2>
    <div style="padding: 2em; background-color: rgb(248, 248, 248); border-radius: 0 0 60px 60px; width: fit-content;">
        <br>
        <p>Vous avez demandez à reçevoir un nouveau mot de passe suite à l'oubli du précédent</p>
        <p>Votre mot de passe : <strong>{{ password}}</strong></p><br>
        <br>
        <p><em>Ps : n'hésitez pas à le changer de nouveau à votre prochaine connexion.</em></p>
        <p>Bon jeu sur <a href="Citania.fr" target="_blank" style="color:#8ed077; font-weight:bold; font-size: 1.5em;">Citania !</a></p>
    </div>
</body>
</html>

