<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
</head>
<body>
    <img src="{{ image }}" width="300px" alt="">

    <h2 class="title" style="color: white; margin-top: -2em; padding: .5em 1em; border-radius: 20px 20px 0 0; background-color: #8ed077; width: fit-content;">Bienvenue sur Citania</h2>
    <div style="padding: 2em; background-color: rgb(248, 248, 248); border-radius: 0 0 60px 60px; width: fit-content;">
        <br>
        <p>Bonjour. <br><br> Bienvenue sur citania ! <br> Lors de votre première connexion, nous vous conseillons de lire le <a href="Citania.site/jeu/guide" target="_blank">guide</a> du jeu afin de comprendre son fonctionnement global.</p>
        <p>Nous restons également à disposition pour toutes questions <a  href="Citania.site/contact" target="_blank">ici</a></p>

        <p>Bon jeu sur <a href="Citania.site" target="_blank" style="color:#8ed077; font-weight:bold; font-size: 1.5em;">Citania !</a></p>
    </div>
</body>
</html>

